{% extends "base.html" %}
{% block body %}
{% if msgs %}
  <ul class="msgs">
    {% for msg in msgs %}
    <li class="msg">{{ msg }}</li>
    {% endfor %}
  </ul>
{% endif %}

<h2>And/Edit Multiple Users</h2>
<form method="post">
<input action="/admin/edit_user" autofocus="autofocus" autocapitalize="off" name="usernames" type="text" placeholder="usernames">
<input name="password" type="password" placeholder="password (empty to autogenerate)">
<input name="password2" type="password" placeholder="password (confirm)">
<select name="is_admin">
  <option value=""/>
  <option value="set">set</option>
  <option value="unset">unset</option>
</select> is admin
<select name="is_monitor">
  <option value=""/>
  <option value="set">set</option>
  <option value="unset">unset</option>
</select> is monitor
<select name="is_instructor">
  <option value=""/>
  <option value="set">set</option>
  <option value="unset">unset</option>
</select> is instructor
<input name="course" type="text" placeholder="course">
<select name="instructs_course">
  <option value=""/>
  <option value="set">set</option>
  <option value="unset">unset</option>
</select> instructs course
<select name="takes_course">
  <option value=""/>
  <option value="set">set</option>
  <option value="unset">unset</option>
</select> takes course
<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
<input type="submit" value="Add Users">
</form>
{% endblock %}
