{% extends "base.html" %}
{% block body %}
<h2>Course {{ course_name|e }} Assignment {{ assignment_name|e }}</h2>
{% for error in errors %}
ERROR {{ error }} <br>
{% endfor %}

{% if instructs_course %}
<form method="post" enctype="multipart/form-data">
  Description: <input name="description" type="text" placeholder="assignment description" value="{{ stages_desc|e }}"><br>
  {% for stage in stages %}
  <h4>{{ stage.name|e }}:</h4>
  Description: <input name="description_{{ stage.name|e }}" placeholder="description of {{ stage.name|e }}" type="text" value="{{ stage.description|e }}"><br>
  Commands:<br>
  <textarea name="main_cmds_{{ stage.name|e }}" rows="5" cols="80">{{ stage.main_script|e }}</textarea><br>
  {% for filename in stage.filenames_except_meta %}
  Delete File: {{ filename|e }} <input type="checkbox" name="delete_files" value="{{ stage.name|e }}/{{ filename|e }}"><br>
  {% endfor %}
  File Upload: <input type="file" multiple="multiple" name="files_{{ stage.name|e }}[]"><br>
  {% endfor %}
  <input name="new_stage_name" type="text" placeholder="new stage name">
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="submit" value="Edit Assignment">
</form>
{% endif %}

{% if takes_course %}
<h3>Submit Solution</h3>
<form method="post" enctype="multipart/form-data">
  <input type="file" multiple="multiple" name="submission_files[]">
  <input type="submit" value="Submit Code">
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
</form>
{% endif %}

{% if takes_course or instructs_course %}
<table border="1">
  <tr>
    {% for col in header_row %}
    <th>{{ col|e }}</th>
    {% endfor %}
  </tr>
  {% for row in table %}
  <tr>
    {% for col in row %}
    <td>{{ col|e }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}
