{% extends "base.html" %}
{% block body %}
<h2>Course {{ course_name|e }} Assignment {{ assignment_name|e }}</h2>
<pre>{{ stages_desc|e }}{% if formatted_due_date %}
Due Date: {{ formatted_due_date|e }}{% endif %}</pre>


{% if instructs_course %}
<p><a href="/courses/{{ course_name|e }}/assignments/{{ assignment_name|e }}/download">Download {{ assignment_name|e }}.</a></p>
<p><a href="/courses/{{ course_name|e }}/assignments/{{ assignment_name|e }}/download_submissions">Download {{ assignment_name|e }} submissions.</a></p>
<p><a href="/courses/{{ course_name|e }}/assignments/{{ assignment_name|e }}/submissions">View {{ assignment_name|e }} submissions.</a></p>
<form method="post" enctype="multipart/form-data" action="/courses/{{ course_name|e }}/assignments/{{ assignment_name|e }}/edit">
  <label for="description">Description</label>
  <input name="description" type="text" placeholder="assignment description" value="{{ stages_desc|e }}"><br>
  <label for="due_date">Due Date</label>
  <input name="due_date" type="text" placeholder="YYYY-MM-DD HH:MM" value="{{ formatted_due_date|e }}"><br>
  <h3>Stages</h3>
  {% for stage in stages %}
  <h4>{{ stage.name|e }}:</h4>
  <div id="edit_{{ stage.name|e }}_button">
    <button type="button" onclick="document.getElementById('edit_{{ stage.name|e }}').hidden = false; document.getElementById('edit_{{ stage.name|e }}_button').hidden = true;">Edit {{ stage.name|e }}</button>
  </div>
  <div id="edit_{{ stage.name|e }}" hidden>
    <label for="delete_stages">Delete Stage: {{ stage.name|e }}</label>
    <input type="checkbox" name="delete_stages" value="{{ stage.name|e }}" onchange="document.getElementById('edit_{{ stage.name|e }}').hidden = true;"><br>
    <label for="description_{{ stage.name|e }}">Description</label>
    <input name="description_{{ stage.name|e }}" placeholder="description of {{ stage.name|e }}" type="text" value="{{ stage.description|e }}"><br>
    <label for="main_cmds_{{ stage.name|e }}">Script</label><br>
    <textarea name="main_cmds_{{ stage.name|e }}" rows="5" cols="80">{{ stage.main_script|e }}</textarea><br>
  {% for filename in stage.filenames_except_meta %}
    <label for="delete_files">Delete File: {{ filename|e }}</label> <input type="checkbox" name="delete_files" value="{{ stage.name|e }}/{{ filename|e }}"><br>
  {% endfor %}
    <label for=="files_{{ stage.name|e }}[]">File Upload</label> <input type="file" multiple="multiple" name="files_{{ stage.name|e }}[]"><br>
  </div>
  {% endfor %}
  <h4>New Stage</h4>
  <input name="new_stage_name" type="text" placeholder="new stage name">
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="submit" value="Edit Assignment">
</form>
<br>
<h3>Resubmit Student Submissions</h3>
<form method="post" action="/courses/{{ course_name|e }}/assignments/{{ assignment_name|e }}/resubmit_all">
  <input type="submit" value="Resubmit All Student Submissions">
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
</form>
{% endif %}

{% if takes_course %}
<h3>Submit Solution:</h3>
<form method="post" enctype="multipart/form-data" action="/courses/{{ course_name|e }}/assignments/{{ assignment_name|e }}/submit">
  <input type="file" multiple="multiple" name="submission_files[]">
  <input type="submit" value="Submit Code">
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
</form>
<h3>Previous Submission:</h3>
<p><a href="/courses/{{ course_name|e }}/assignments/{{ assignment_name|e }}/download_previous_submission">Download previous submission.</a></p>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Output</h3>
  </div>
  <div class="panel-body">
    <code><pre>{{ submission_output|e }}</pre></code>
  </div>
</div>
{% if submission_has_output_html %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Output</h3>
  </div>
  <div class="panel-body">
    <!-- TODO: Make iframe resize automatically. -->
    <iframe id="output_html" name="output_html" width="100%" height="480px" seamless="seamless" sandbox="allow-scripts" src="/courses/{{ course_name|e }}/assignments/{{ assignment_name|e }}/output_html"></iframe>
  </div>
</div>
{% endif %}
{% if submission_errors %}
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Errors</h3>
  </div>
  <div class="panel-body">
    <code><pre>{{ submission_errors|e }}</pre></code>
  </div>
</div>
{% endif %}
{% endif %}

{% if takes_course or instructs_course %}
<h3>Scores:</h3>
<table class="table table-stripped">
  <thead>
    <tr>
      {% for col in header_row %}
      <th>{{ col|e }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in table %}
    <tr>
      {% for col in row %}
      <td>{{ col|e }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
