{% extends "base.html" %}
{% block body %}
<h2>Course {{course_name|e }}</h2>
<h3>Assignments:</h3>
<ul class="assignments">
  {% for assignment in assignments %}
  <li class="assignment"><a href="/courses/{{ course_name|e }}/assignments/{{ assignment|e }}">{{ assignment }}</a></li>
  {% endfor %}
</ul>
{% if instructs_course %}
<h3>Add/Edit Assignment:</h3>
<form method="post" enctype="multipart/form-data">
  <input autofocus="autofocus" name="assignment_name" type="text" placeholder="assignment name">
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="submit" value="Add Assignment">
</form>

<h3>Students:</h3>
<ul class="students">
  {% for name in students %}
  <li class="student">{{ name|e }}</li>
  {% endfor %}
</ul>
<h4>Add Students:</h4>
<form method="post">
  <input name="add_students" type="text" placeholder="space separated student usernames">
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="submit" value="Add Students">
</form>
<h4>Remove Students:</h4>
<form method="post">
  <input name="remove_students" type="text" placeholder="space separated student usernames">
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="submit" value="Remove Students">
</form>

{% endif %}

{% endblock %}
