{% extends "base.html" %}
{% block body %}
<h2>Course <a href="/courses/{{ course_name|e }}">{{ course_name|e }}</a> Assignment <a href="/courses/{{ course_name|e }}/assignments/{{ assignment_name|e }}">{{ assignment_name|e }}</a> Submissions</h2>
{% if instructs_course %}
{% for student_submission in student_submissions %}
<div id="{{ student_submission.student_username|e }}" class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ student_submission.student_username|e }} Output</h3>
  </div>
  <div class="panel-body">
    <form method="post" enctype="multipart/form-data" action="#{{ student_submission.student_username|e }}">
      <input autofocus="autofocus" name="manual_score" type="text" placeholder="score (manual portion)">
      <input name="_student_username" type="hidden" value="{{ student_submission.student_username|e }}">
      <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
      <input type="submit" value="Update Score">
    </form>
  </div>
  <div class="panel-body">
    <code><pre>{{ student_submission.output()|e }}</pre></code>
  </div>
  <div class="panel-body">
    <iframe id="output_html" name="output_html" width="100%" height="480px" seamless="seamless" sandbox="allow-scripts" src="/courses/{{ course_name|e }}/assignments/{{ assignment_name|e }}/output_html/{{ student_submission.student_username|e }}"></iframe>
  </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}
