{% extends "base.html" %}
{% block body %}
<h2>Course {{course_name|e }}</h2>
<h3>Assignments:</h3>
<ul class="assignments">
  {% for assignment in assignments %}
  <li class="assignment"><a href="/courses/{{ course_name|e }}/assignments/{{ assignment|e }}">{{ assignment }}</a></li>
  {% endfor %}
</ul>
{% if instructs_course %}
<h3>Add Assignment:</h3>
<form method="post" enctype="multipart/form-data">
  <input autofocus="autofocus" name="assignment_name" type="text" placeholder="assignment name">
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="submit" value="Add Assignment">
</form>

<h3>Upload Assignment:</h3>
<form method="post" enctype="multipart/form-data">
  <input name="assignment_name" type="text" placeholder="assignment name"><br>
  <label for="assignment_zips[]">Zip File: </label>
  <input type="file" multiple="multiple" name="assignment_zips[]">
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="submit" value="Upload Assignment">
</form>

<h3>Grades:</h3>
<p><a href="/courses/{{ course_name|e }}/download_grades">Download as CSV.</a></p>
<table class="table table-bordered">
  <tr>
    {% for col in grades_header_row %}
    <th>{{ col|e }}</th>
    {% endfor %}
  </tr>
  {% for row in grades_table %}
  <tr>
    {% for col in row %}
    <td>{{ col|e }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<h4>Add Students by Username:</h4>
<form method="post">
  <input name="add_students" type="text" placeholder="space separated student usernames">
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="submit" value="Add Students">
</form>
<h4>Remove Students by Username:</h4>
<form method="post">
  <input name="remove_students" type="text" placeholder="space separated student usernames">
  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="submit" value="Remove Students">
</form>
{% endif %}
{% endblock %}
