{% extends "base.html" %}
{% block body %}
<h2>Settings</h2>

<form method="post">
  Real/Full Name: <input name="real_name" type="text" placeholder="{{ real_name|e }}"><br><br>
  Avatar Name: <input name="avatar_name" type="text" placeholder="{{ avatar_name|e }}"><br><br>

  Change password: <input name="password" type="password" placeholder="password"><br>
  Verify Password: <input name="password2" type="password" placeholder="password (confirm)"><br>

  <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
  <input type="submit" value="Update Preferences">
</form>
{% endblock %}
